*{
    margin:0;
    padding:0;
}

body{
    font-family: "Gill Sans", sans-serif;
}

header{
    background:gray;
    height:70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    background:#87CEEB;
    color:gray;
    font-size: xx-large;
    width:30vh;
    height:50px;
    display:flex;
    justify-content:end;
    align-items: center;
}
.header-nav ul{
    display: flex;
}

.header-nav ul li{
    margin-right:50px;
    display:flex;
}

.header-nav a{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color:#87CEEB;
    font-size:large;
}

.image-section{
    width:100%;
    height:200px;
    background-image: url(skyblue.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    color: white;
    display:flex;
    justify-content: end;
    align-items: end;
}

.header-image-text{
    margin-right: 50px;
    width:15vw;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    word-spacing: 5px;
    margin-bottom: 15px;
    color:grey;
    background:#87CEEB ;
}

.main-section{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.main-section h2{
    width: 100%;
    max-width:120px;
    font-size: xx-large;
    margin-right: 20px;
    color:	#4169E1;
}

.main-section p{
    width:60vw;
    margin-left: 20px;
    color:	#4169E1;
}

.main-section img{
    height:20vh;
    width:20vw;
    border:5px solid #87CEEB;
}

#image-1{
    margin-left:20px;
}

#main-section-1{
    margin-top:20px;
}

.main-section ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin-left: 20px;
}

.line{
    border-left:2px solid #87CEEB;
}

main{
    width:90%;;
    margin: 0 auto;
}

.main-section a{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-size:large;
    color:	#4169E1;
}
